<nav id="navbar">
<a id="a1" href="/">Home</a>
<a id="a2" href="/auth/sign-out">Sign out</a>
<a id="a3" href="/auth/sign-up">Sign Up</a>
<a id="a4" href="/auth/sign-in">Sign In</a>
<a id="a5" href="/messages/main">Main Page</a>
</nav>
