<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <h1 id="header1">The Network App</h1>
    <p id="links">
        <a id="a6" href="/auth/sign-up">Sign up</a> or
        <a id="a7" href="/auth/sign-in">Sign in</a>
        <br>
        <br>
        <a id="a8" href="/messages/main">Main Page</a>
    </p>
  </body>
</html>
